@import url('https://fonts.cdnfonts.com/css/audi-type-2');

//Fontes 
$fonte: 'Audi Type', sans-serif;
$fonte-tamanho: 18px;
$fonte-peso: 700;

//Cores
$cor-primaria: #DDE6ED; 
$cor-secundaria: #9DB2BF;
$cor-terciaria: #526D82;
$cor-quartenaria: #27374D;